<connectionStrings>
  <clear />
  <!--<add name="CMS" connectionString="Server=ET3EMSServer\MsSQL2008Express;Initial Catalog=OTSD;User Id=sa;Password=effective1?;" providerName="System.Data.SqlClient" />-->
  <!--<add name="CMS" connectionString="Server=27.54.85.33;Initial Catalog=onthespo_OTSD;User Id=onthespo_OTSD;Password=effective1?;" providerName="System.Data.SqlClient" />-->
  <!--<add name="CMS" connectionString="Server=ET3EBSServer;Initial Catalog=AHSCAWA;User Id=sa;Password=effective1?;" providerName="System.Data.SqlClient" />-->
  <add name="CMS" connectionString="Server=27.54.85.33;Initial Catalog=ahscawac_iSTAHSCAWA;User Id=ahscawac_iSTAHSCAWA;Password=effective1?;" providerName="System.Data.SqlClient" />
  
</connectionStrings>