<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler" />
  </configSections>
  <connectionStrings configSource="connectionString.config" />
  <appSettings>
    <add key="defaultNewsFeedUrl" value=""/>
    <add key="rewriteUrlTemplate" value="{1}.aspx{3}" />
    <!--<add key="rewriteUrlTemplate" value="{1}.aspx{3}" />-->
    <add key="defaultBanner" value="~/images/banner.png" />
    <!--<add key="siteRoot" value="http://www.ahscawa.com.au" />-->
    <add key="siteroot" value="http://localhost:4439" />
    <!--<add key="siteroot" value="http://202.131.97.249:8051" />-->
    
  </appSettings>
  <RewriterConfig>
    <Rules>
      <!-- Rules for Product Lister -->
      <RewriterRule>
        <LookFor>(.+).aspx</LookFor>
        <SendTo>~/default.aspx?pageId=$2</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <system.web>
    <!--<trust level="CMS_Medium" />-->
    <customErrors mode="Off">
      <error statusCode="500" redirect="~/exceptionpage.aspx"/>
      <error statusCode="404" redirect="~/404Error.aspx"/>
    </customErrors>
    <httpCookies httpOnlyCookies="true" />
    <pages theme="SiteTheme" enableViewStateMac ="false"  viewStateEncryptionMode="Never" enableEventValidation="false" >
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="CMS" namespace="Etech.CMS.Controls" assembly="Etech.CMS.Controls" />
        <add tagPrefix="CMS" namespace="Etech.CMS.Controls" assembly="Etech.CMS.Store" />
        <add tagPrefix="FCKeditorV2" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ModuleRewriter" type="URLRewriter.ModuleRewriter" />
      <add name="StoreCloser" type="Etech.CMS.Web.StoreCloser" />
    </httpModules>

    <siteMap enabled="true" defaultProvider="AdminXmlSiteMapProvider">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap"/>
        <add name="AdminXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/admin.sitemap"/>
        <add name="SiteSettingsXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/sitesettings.sitemap"/>
        <add name="SimpleWeightShippingProviderXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/simpleweightshippingprovider.sitemap"/>
        <add name="RegionCodeXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/regioncode.sitemap"/>
        <add name="ProductXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/product.sitemap"/>
        <add name="OrderXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/order.sitemap"/>
        <add name="VatXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/controls/navigation/vatrate.sitemap"/>
      </providers>
    </siteMap>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" connectionStringName="CMS" applicationName="CMS" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="30" hashAlgorithmType="">
      <providers>
        <clear/>
        <add connectionStringName="CMS" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="CMS" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <anonymousIdentification enabled="true"/>
    <authentication mode="Forms">
      <forms name=".ASPNET" loginUrl="admin/login.aspx" protection="All" timeout="30"   slidingExpiration="true" cookieless="UseCookies" defaultUrl="~/admin/default.aspx" />
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <profile automaticSaveEnabled="true" defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CMS" applicationName="CMS"/>
      </providers>
      <properties>
        <add name="AddressCollection" type="Etech.CMS.Store.AddressCollection" allowAnonymous="true"/>
      </properties>
    </profile>
  </system.web>
  <location path="transforms">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


 
 
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->

        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <remove name="ModuleRewriter" />
      <add name="ModuleRewriter" type="URLRewriter.ModuleRewriter" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <SubSonicService defaultProvider="CMSProvider">
    <providers>
      <clear/>
      <add name="CMSProvider" connectionStringName="CMS" type="SubSonic.SqlDataProvider, SubSonic"/>
    </providers>
  </SubSonicService>

  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="API-1.0Binding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="API-1.0Binding1">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://soap-test.secureapi.com.au/server.php"
        binding="customBinding" bindingConfiguration="API-1.0Binding"
        contract="iSolutionsService.API10PortType" name="API-1.0Port" />

    </client>
  </system.serviceModel>
</configuration>